$color1: #10b981;
$color2: #040000;
$color3: #e2e8f0;
$color4: #00c4cc;
$color5: rgba(0, 0, 0, 0.16);
$color6: #e4e9f6;
$color7: #f5f7fb;
$color8: #04dae3;
$color9: #727272;
$color10: #02dae3;
$color11: #f5f7fb;
$color12: rgba(114, 114, 114, 0.3);
$color13: #e5e8f0;
$color14: #707070;
$color15: #d7d8db;
