@import "colors.scss";

.home {
  background: $color3;
  height: 100%;
  padding-bottom: 1.5rem;

  @media screen and (max-width: 575px) {
    padding-bottom: 170px;
  }
}

.new {
  width: 275px;
  border-radius: 16px !important;

  @media screen and (max-width: 772px) {
    width: 100px;
  }
}

.landing {
  max-width: 708px;
  margin-left: auto;
  margin-right: auto;

  .newBtn {
    width: 70%;
    height: 30px !important;
    font-size: 14px !important;
    margin: 0 0.75rem;
  }
}

.newBtn {
  @media screen and (max-width: 991px) {
    width: 200px;
    height: 30px !important;
    font-size: 14px !important;
    margin: 0 0.75rem;
  }

  @media screen and (max-width: 767px) {
    width: 70%;
  }
}

.arrowBtn {
  @media screen and (max-width: 991px) {
    padding: 0;
    width: 20px;
    height: 20px;

    img {
      width: 100%;
    }
  }
}

.callOptions {
  button {
    margin: 0 0.5rem;
    padding: 0;
    display: flex;
    justify-content: center;

    @media screen and (max-width: 375px) {
      width: 42px;
      height: 42px;

      img {
        transform: scale(0.7);
      }
    }
  }
}

.popup {
  position: fixed;
  padding: 50px;
  background: #fff;
  width: 95%;
  max-width: 280px;
  border-radius: 20px;
  left: 20px;
  top: 11%;
  z-index: 5;
  max-height: 95vh;
  overflow-y: auto;
  display: none;

  @media screen and (max-width: 575px) {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &.active {
    display: block;
  }

  .img {
    height: 100px !important;
  }

  .popupClose {
    position: absolute;
    left: 18px;
    top: 18px;

    .popupCloseImg {
      width: 14px;
      height: 14px;
    }
  }
}

.cardPlaceholder {
  background: $color2;
  width: 100%;
  height: 450px;
}

.newCardContainer {
  margin-bottom: 50px;

  .new {
    border-radius: 15px;
    border: 1px solid $color4;
    text-align: center;
    width: 100%;
    overflow: hidden;
    background: #fff;

    .img {
      width: 100%;
      height: 150px;
      background: #000;
    }

    .title {
      padding: 10px;
      font-weight: 600;
      color: $color4;
      border-top: 1px solid $color4;
    }
  }

  .plus {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
